html,body,.wrapper{
    width: 100%;
    height: 100%;
    font-family: Arial,"Microsoft Yahei";
}
a{
    text-decoration: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999;
} 
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper{
    position: relative;
    z-index: 1;
}
.navbox{
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 20px;
}
.contentbox{
    height: 100%;
}
.logo > img{
    display: block;
    margin: 30px 0;
}
.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav > li{
    text-align: left;
}
.nav > li > a{
    font-size: 16px;
    line-height: 50px;
    color: #333;
    font-weight: bold;
    margin: 0 0 0 45px;
}
.nav > li > a:hover{
    color: #666;
}
.nav > li > .selected{
    color: #1ce383 !important;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 50px 0 0;
    text-align: center;
}
.list > li{
    width: 700px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0 25px 50px;
    vertical-align: top;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    -o-box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: left;
}
.list_img{
    display: block;
    overflow: hidden;
    position: relative;
    height: 392px;
}
.list_img > img{
    width: 100%;
    height: 100%;
}
.list_content{
    padding: 20px 30px;
    position: relative;
}
.sale_type{
    line-height: 1;
}
.sale_type > span{
    font-size: 14px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 10px;
    background: #1ce383;
    color: #fff;
    font-weight: bold;
    line-height: 26px;
    margin: 0 10px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(28,227,131,0.8);
    -moz-box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(28,227,131,0.8);
    -o-box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(28,227,131,0.8);
    box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(28,227,131,0.8);
}
.sale_type > .new{
    background: #f8dd5d;
    -webkit-box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(248,221,93,0.8);
    -moz-box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(248,221,93,0.8);
    -o-box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(248,221,93,0.8);
    box-shadow: 0 2px 2px rgba(255,255,255,0.4), 0 4px 10px rgba(248,221,93,0.8);
}
.list > li:hover .sale_type > span{
    -webkit-animation: saletag linear infinite 2000ms;
    -moz-animation: saletag linear infinite 2000ms;
    -o-animation: saletag linear infinite 2000ms;
    animation: saletag linear infinite 2000ms;
}
@-webkit-keyframes saletag{
    0%,20%,40%,100%{-webkit-transform:translate(0,0px);-moz-transform:translate(0,0px);-o-transform:translate(0,0);transform:translate(0,0);}
    10%,30%{-webkit-transform:translate(0,-6px);-moz-transform:translate(0,-6px);-o-transform:translate(0,-6px);transform:translate(0,-6px);}
}
@-moz-keyframes saletag{
    0%,20%,40%,100%{-webkit-transform:translate(0,0px);-moz-transform:translate(0,0px);-o-transform:translate(0,0);transform:translate(0,0);}
    10%,30%{-webkit-transform:translate(0,-6px);-moz-transform:translate(0,-6px);-o-transform:translate(0,-6px);transform:translate(0,-6px);}
}
@-o-keyframes saletag{
    0%,20%,40%,100%{-webkit-transform:translate(0,0px);-moz-transform:translate(0,0px);-o-transform:translate(0,0);transform:translate(0,0);}
    10%,30%{-webkit-transform:translate(0,-6px);-moz-transform:translate(0,-6px);-o-transform:translate(0,-6px);transform:translate(0,-6px);}
}
@keyframes saletag{
    0%,20%,40%,100%{-webkit-transform:translate(0,0px);-moz-transform:translate(0,0px);-o-transform:translate(0,0);transform:translate(0,0);}
    10%,30%{-webkit-transform:translate(0,-6px);-moz-transform:translate(0,-6px);-o-transform:translate(0,-6px);transform:translate(0,-6px);}
}
.arrowmask{
    width: 0;
    height: 0;
    border-bottom: solid 20px #fff;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    display: block;
    position: absolute;
    top: -20px;
    left: 46px;
}
.sale_tips{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.sale_tips > b{
    font-size: 14px;
    font-weight: normal;
    color: #999;
    margin: 0 10px 0 0;
}
.sale_tips > b > i{
    margin: 0 4px 0 0;
    vertical-align: middle;
    color: #1ce383;
}
.sale_title{
    font-size: 16px;
    line-height: 1;
    color: #333;
    margin: 20px 0 0;
    position: relative;
}
.sale_title > a{
    color: #333;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 60%;
    font-size: 20px;
    font-weight: normal;
}
.sale_title > a:hover{
    color: #1ce383;
}
.sale_head{
    position: absolute;
    right: 0;
    top: -4px;
    line-height: 24px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
.sale_head > img{
    width: 24px;
    height: 24px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    vertical-align: top;
    margin: 0 6px 0 0;
}
#particles,#bg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    background: -webkit-linear-gradient(top,#f0f0f0,#fff);
    background: -moz-linear-gradient(top,#f0f0f0,#fff);
    background: -o-linear-gradient(top,#f0f0f0,#fff);
}
.indexbg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
.indexbg .swiper-slide{
    background-size: cover;
    background-position: center;
}
.swiper-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.hidenav{
    display: none;
}
.footer{
    position: fixed;
    bottom: 20px;
    left: 50px;
    font-size: 12px;
    color: #999;
}
.ewm{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    -o-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: block;
}
.ewm > img{
    width: 100%;
    display: block;
}
.ewm > p{
    font-size: 14px;
    margin: 5px 0 0;
    text-align: center;
}
.ewm > b{
    color: #1ce383;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 0 10px;
}
.mainbox{
    width: 1500px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 100%;
}
.centerbox{
    padding: 50px;
}
.yhid{
    font-size: 12px;
    color: #ccc;
    line-height: 1;
    margin: 0 0 20px;
    padding: 0 0 5px;
    border-bottom: solid 1px #e6e6e6;
}
.yhid > span{
    float: right;
    line-height: 1;
    margin: 0 0 0 20px;
}
.yhid > span > i{
    line-height: 1;
    vertical-align: middle;
    margin: 0 2px 0 0;
}
.yhtitle{
    margin: 0 0 10px;
    font-size: 22px;
}
.jubao{
    cursor: pointer;
}
.jubao:hover{
    color: #333;
}
.detailbox{
    margin: 30px 0 0;
}
.detailbox img{
    max-width: 100%;
}
.hr{
    border: none;
    border-bottom: dotted 1px #ccc;
    margin: 30px 0;
}
.writter{
    text-align: center;
}
.writter > dt{
    font-size: 16px;
}
.writter > dt > img{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
}
.writter > dd{
    margin: 10px 0 0;
    color: #999;
    font-size: 14px;
}
.boardbox > h2{
    font-size: 16px;
}
.board{
    overflow: hidden;
    padding-bottom: 50px;
}
.board > div{
    width: 25%;
    height: 100px;
    padding: 0 5px 10px;
    margin: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    float: left;
    font-size: 12px;
    position: relative;
}
.board > div > textarea{
    width: 100%;
    height: 100%;
    resize: none;
    margin: 0;
    padding: 6px;
    text-align: center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    border: solid 1px #e6e6e6;
    background: #fff;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
}
.board > div > textarea:hover{
    border-color: #ccc;
}
.board > div > textarea:focus{
    border-color: #999;
}
.boardbtn{
    position: absolute;
    font-size: 14px;
    background: #1ce383;
    color: #fff;
    height: 30px;
    width: 80px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    bottom: -25px;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    display: none;
}
.board > div > p{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 5px 10px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display: none;
}
.board > div > p > span{
    width: 100%;
    height: 100%;
    display: block;
    background: #1ce383;
    padding: 6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
    -o-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);    
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
}
.editbox{
    margin: 0 0 30px;
    font-size: 14px;
}
.editbox > h2{
    margin: 0 0 6px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
.editbox > p{
    font-size: 12px;
    color: #999;
    margin: 0 0 6px;
}
.inputtext{
    width: 60%;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #ccc;
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}
.inputtext:focus{
    border-color: #1ce383;
}
.inputtext01{
    width: 29%;
}
.editbtn01{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #1ce383;
    color: #fff;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    -o-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    -o-opacity: 0.9;
    filter:alpha(opacity=90);
    opacity: 0.9;
    font-weight: bold;
}
.editbtn01:hover{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    filter:alpha(opacity=100);
    opacity: 1;
}
.editbtn01:active{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    filter:alpha(opacity=100);
    opacity: 1;
    margin-top: 3px;
    height: 37px;
    box-shadow: none;
}
.out{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.list > .out:hover .sale_type > span{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}
.popbox{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}
.pop{
    width: 400px;
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    -o-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 100;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    text-align: center;
}
.popbtn{
    background: #1ce383;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: none;
    margin: 20px 0 0;
}
#logo02{
    display: none;
}
.buildbg{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.buildbg .swiper-slide{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.buildmask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.8);
}
.buildimg{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 3;
}
.buildvideo{
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 1;
}



@media screen and (max-width:1680px){
    .list > li{
        width: 550px;
    }
    .list .list_img{
        height: 310px;
    }
    .mainbox{
        width: 1100px;
    }
}
@media screen and (max-width:1440px){
    .list > li{
        width: 700px;
    }
    .list .list_img{
        max-height: 392px;
        height: auto;
    }
    .mainbox{
        width: 1000px;
    }
}
@media screen and (max-width:1366px){
    .list .list_img{
        max-height: 338px;
    }
    .mainbox{
        width: 700px;
    }
}
@media screen and (max-width:1024px){
    .list > li{
        width: 600px;
    }
    .list .list_img{
        max-height: 338px;
    }
    .mainbox{
        width: 600px;
    }
}
@media screen and (max-width:950px){
    .list > li{
        width: 90%;
        margin: 0 0 40px;
    }
    .list .list_img{
        width: 100%;
    }
    .navbox{
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        text-align: center;
        background: #fff;
        -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        -o-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .logo img{
        margin: 5px 0 0;
        width: auto;
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    #logo01{
        display: none;
    }
    #logo02{
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    .contentbox{
        margin: 80px 0 0;
    }
    .nav{
        display: none;
    }
    .hidenav_menu{
        width: 30px;
        cursor: pointer;
        position: fixed;
        right: 20px;
        top: 16px;
        z-index: 99;
    }
    .hidenav_menu > span{
        display: block;
        height: 4px;
        background: #333;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        margin: 4px 0;
    }
    .hidenav_link{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        background: #fff;
        z-index: 99;
        padding: 25px 0;
        -webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        -o-box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        display: none;
    }
    .hidenav_link > li{
        line-height: 50px;
    }
    .hidenav_link > li > a{
        color: #333;
        font-size: 16px;
        display: block;
    }
    .hidenav_link > li > a:hover, .hidenav_link > li > .selected{
        background: #1ce383;
        color: #fff;
    }
    .mask{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .hidenav{
        display: block;
    }
    .sale_tips{
        display: block;
        margin: 20px 0 0;
    }
    .sale_tips > b{
        display: block;
        margin: 0 0 5px;
    }
    .list_content{
        padding: 20px;
    }
    .list > li .sale_type > span{
        -webkit-animation: saletag linear infinite 2000ms;
        -moz-animation: saletag linear infinite 2000ms;
        -o-animation: saletag linear infinite 2000ms;
        animation: saletag linear infinite 2000ms;
    }
    .list > .out .sale_type > span{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        animation: none;
    }
    .footer{
        position: static;
        text-align: center;
        margin: 10px 0 50px;
        font-size: 14px;
    }
    .bl{
        position: fixed;
        left: 20px;
        z-index: 2;
        top: 15px;
        background: #1ce383;
        color: #fff;
        height: 30px;
        line-height: 30px;
        display: block;
        padding: 0 10px;
        font-size: 16px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        cursor: pointer;
    }
    .ewm{
        display: none;
        top: 70px;
        left: 10px;
        right: auto;
        bottom: auto;
    }
    .sale_title > a{
        font-size: 14px;
        font-weight: bold;
    }
    .arrowmask{
        left: 36px;
    }
    .mainbox{
        width: 90%;
        margin: 0 auto 40px;
    }
    .centerbox{
        padding: 20px;
    }
    .board > div{
        width: 50%;
    }
    .inputtext{
        width: 100%;
    }
    .inputtext01{
        width: 40%;
    }
    .pop{
        width: 70%;
    }
    .buildvideo{
        display: none;
    }
    .buildbg{
        display: block;
    }
}


/* 后台 */
.ma_top{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 3;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    -o-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.ma_logo{
    margin: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}
.ma_title{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    line-height: 70px;
    margin: 0 0 0 10px;
    font-size: 20px;
    color: #333;
}
.ma_tool{
    position: absolute;
    right: 0;
    top: 0;
}
.ma_searchbox,.ma_loginname,.ma_logout{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}
.ma_searchbox{
    font-size: 0;
    margin: 19px 0 0;
}
.ma_searchinput{
    font-size: 14px;
    height: 30px;
    padding: 0 10px;
    width: 200px;
    border: solid 1px #ccc;
    border-right: none;
    background: #fff;
    line-height: 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    -o-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}
.ma_searchbtn{
    width: 50px;
    height: 32px;
    background: #1ce383;
    color: #fff;
    line-height: 32px;
    text-align: center;
    border: none;
    font-size: 14px;
    padding: 0;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    -o-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
}
.ma_loginname{
    line-height: 70px;
    margin: 0 0 0 30px;
}
.ma_logout{
    line-height: 70px;
    margin: 0 30px 0 10px;
    font-size: 14px;
    color: #1ce383;
}
.ma_left{
    width: 200px;
    height: 100%;
    background: #666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.ma_nav{
    margin: 100px 0 0;
}
.ma_nav > a{
    display: block;
    color: #999;
    text-align: center;
    margin: 0 0 30px;
    font-weight: bold;
}
.ma_nav > .selected,.ma_nav > a:hover{
    color: #fff;
}
.ma_right{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 90px 20px 20px 220px;
}
.ma_content{
    width: 100%;
    height: 100%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.ma_table{
    width: 100%;
    text-align: center;
}
.ma_table th{
    background: #fff;
    color: #333;
    line-height: 30px;
    border-bottom: solid 1px #ccc;
}
.ma_table td{
    line-height: 36px;
    color: #666;
    font-size: 13px;
    position: relative;
}
.ma_table td a{
    color: blue;
}
.ma_table tr:nth-of-type(odd){
    background: #f6f6f6;
}
.ma_table tr:hover{
    background: #f0f0f0;
}
.guoqi td{
    background: #ccc;
}
.iconback{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    font-size: 40px;
    line-height: 60px;
    color: #333;
    font-weight: bold;
}
.page{
    margin: 20px 0 0;
}
.page a,.page span{
    color: #333;
    margin: 0 2px;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
}
.page span{
    font-weight: normal;
}
.page .selected{
    color: #1ce383;
}
.page > div{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}
.page a:hover{
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    -o-opacity: 0.5;
    filter:alpha(opacity=50);
    opacity: 0.5;
}
.ma_control{
    background: rgba(0,0,0,0.6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    padding: 0 10px;
    height: 30px;
    position: absolute;
    left: -10px;
    top: -10px;
    white-space: nowrap;
    z-index: 2;
    display: none;
}
.ma_table .ma_control > a{
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    white-space: nowrap;
}
.ma_table .ma_control > a:hover{
    color: #1ce383;
}
.ma_table tr:hover .ma_control{
    display: block;
}